<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VoJoBo | Volunteering Job Board</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css">
    <link rel="stylesheet" href="../cookiealert.css">
    <link rel="manifest" href="../manifest.webmanifest">
    <script src="../service_worker.js"></script>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col s12 m12">
                <div class="card teal darken-1">
                    <a class="btn-floating halfway-fab waves-effect waves-light orange"><i class="material-icons" >email</i></a>
                    <div class="card-content white-text">
                        <span class="card-title">Technical Writer</span>
                        <p>Onfido Company</p>
                        <p>London, England</p>
                        <p>Posted 1 week ago</p>
                        <p>entry level</p>
                        <p>
                            <svg fill="#fff" data-icon="briefcase" viewBox="0 0 16 16" width="16px" height="16px"><path d="M5.75 0A.757.757 0 0 0 5 .75V3H0v4.5a.5.5 0 0 0 .5.5h5.531c.065-.559.518-1 1.094-1h1.75c.576 0 1.028.441 1.094 1H15.5a.5.5 0 0 0 .5-.5V3h-5V.75a.757.757 0 0 0-.75-.75h-4.5zM6 1h4v2H6V1zm1.125 7A.125.125 0 0 0 7 8.125v.75c0 .069.056.125.125.125h1.75A.125.125 0 0 0 9 8.875v-.75A.125.125 0 0 0 8.875 8h-1.75zM0 8.906V15h16V8.906a1.484 1.484 0 0 1-.5.094H9.969c-.065.559-.518 1-1.094 1h-1.75c-.576 0-1.028-.441-1.094-1H.5c-.176 0-.343-.038-.5-.094z"></path></svg>                            Internship
                        </p>
                        <p><svg fill="#fff" data-icon="clock" viewBox="0 0 16 16" width="16px" height="16px"><path d="M8 0C3.594 0 0 3.594 0 8c0 4.406 3.594 8 8 8 4.406 0 8-3.594 8-8 0-4.406-3.594-8-8-8zm0 2c3.326 0 6 2.674 6 6s-2.674 6-6 6-6-2.674-6-6 2.674-6 6-6zM7 4v4.625l.563.281 2 1 .875.438.906-1.781-.906-.469L9 7.375V4H7z"></path></svg>                            full-time
                        </p>
                        <div class="chip orange white-text">
                            IT
                        </div>
                        <div class="chip orange white-text">
                            technical documentation
                        </div>
                        <div class="chip orange white-text">
                            Content Creation
                        </div>

                    </div>
                    <div class="card-action">
                        <!-- Modal Trigger -->
                        <!-- Modal Trigger -->
                        <button data-target="modal1" class="btn modal-trigger orange">MORE</button>

                        <!-- Modal Structure -->
                        <div id="modal1" class="modal">
                            <div class="modal-content">
                                <h4>Job Details</h4>
                                <hr>
                                <small>Technical Writer @ Onfido Company</small>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium perferendis natus ipsam, molestiae unde adipisci libero corrupti alias nostrum cupiditate.</p>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum, hic quam blanditiis harum architecto iste deserunt eum, laudantium a praesentium nesciunt voluptate facere.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, impedit.</p>
                            </div>

                            <div class="modal-footer">
                                <a href="#!" class="modal-close waves-effect waves-teal orange white-text btn-flat"><i class="material-icons">email</i></a>
                                <!-- <a href="#!" class="modal-close waves-effect waves-teal orange white-text btn-flat">CLOSE</a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card teal darken-1">
                    <a class="btn-floating halfway-fab waves-effect waves-light orange"><i class="material-icons" >email</i></a>
                    <div class="card-content white-text">
                        <span class="card-title">Junior Software Developer (m/w/d) - IT, Anwendungsentwicklung</span>
                        <p>Empolis Information Management GmbH</p>
                        <p> Kaiserslautern, Germany</p>
                        <p>Posted 1 week ago</p>
                        <p>entry level</p>
                        <p>
                            <svg fill="#fff" data-icon="briefcase" viewBox="0 0 16 16" width="16px" height="16px"><path d="M5.75 0A.757.757 0 0 0 5 .75V3H0v4.5a.5.5 0 0 0 .5.5h5.531c.065-.559.518-1 1.094-1h1.75c.576 0 1.028.441 1.094 1H15.5a.5.5 0 0 0 .5-.5V3h-5V.75a.757.757 0 0 0-.75-.75h-4.5zM6 1h4v2H6V1zm1.125 7A.125.125 0 0 0 7 8.125v.75c0 .069.056.125.125.125h1.75A.125.125 0 0 0 9 8.875v-.75A.125.125 0 0 0 8.875 8h-1.75zM0 8.906V15h16V8.906a1.484 1.484 0 0 1-.5.094H9.969c-.065.559-.518 1-1.094 1h-1.75c-.576 0-1.028-.441-1.094-1H.5c-.176 0-.343-.038-.5-.094z"></path></svg>                            Internship
                        </p>
                        <p><svg fill="#fff" data-icon="clock" viewBox="0 0 16 16" width="16px" height="16px"><path d="M8 0C3.594 0 0 3.594 0 8c0 4.406 3.594 8 8 8 4.406 0 8-3.594 8-8 0-4.406-3.594-8-8-8zm0 2c3.326 0 6 2.674 6 6s-2.674 6-6 6-6-2.674-6-6 2.674-6 6-6zM7 4v4.625l.563.281 2 1 .875.438.906-1.781-.906-.469L9 7.375V4H7z"></path></svg>                            full-time
                        </p>
                        <div class="chip orange white-text">
                            IT
                        </div>
                        <div class="chip orange white-text">
                            software development
                        </div>
                        <div class="chip orange white-text">
                            engineering
                        </div>

                    </div>
                    <div class="card-action">
                        <!-- Modal Trigger -->
                        <!-- Modal Trigger -->
                        <button data-target="modal2" class="btn modal-trigger orange">MORE</button>

                        <!-- Modal Structure -->
                        <div id="modal2" class="modal">
                            <div class="modal-content">
                                <h4>Job Details</h4>
                                <hr>
                                <small>Junior Software Developer (m/w/d) - IT, Anwendungsentwicklung @ Empolis Information Management GmbH</small>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium perferendis natus ipsam, molestiae unde adipisci libero corrupti alias nostrum cupiditate.</p>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum, hic quam blanditiis harum architecto iste deserunt eum, laudantium a praesentium nesciunt voluptate facere.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, impedit.</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-close waves-effect waves-teal orange white-text btn-flat"><i class="material-icons">email</i></a>
                                <!-- <a href="#!" class="modal-close waves-effect waves-teal orange white-text btn-flat">CLOSE</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <footer class="page-footer">
	  <div class="container">
		<div class="row">
		  <div class="col l6 s12">
			<h5 class="white-text">Footer Content</h5>
			<p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
		  </div>
		  <div class="col l4 offset-l2 s12">
			<h5 class="white-text">Links</h5>
			<ul>
			  <li><a class="grey-text text-lighten-3" href="#!">Impressum</a></li>
			  <li><a class="grey-text text-lighten-3" href="#!">Privacy</a></li>
			  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
			  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
			</ul>
		  </div>
		</div>
	  </div>
	  <div class="footer-copyright">
		<div class="container">
		© 2014 Copyright Text
		<a class="grey-text text-lighten-4 right" href="#!">More Links</a>
		</div>
	  </div>
	</footer>
    

    <!-- START Bootstrap-Cookie-Alert -->
<div class="alert text-center cookiealert" role="alert">
    <b>Do you like cookies?</b> &#x1F36A; We use cookies to ensure you get the best experience on our website. <a href="https://cookiesandyou.com/" target="_blank">Learn more</a>

    <button type="button" class="btn btn-primary btn-sm acceptcookies">
        I agree
    </button>
</div>
<!-- END Bootstrap-Cookie-Alert -->
    
    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../cookiealert.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.modal');
            var options = {};
            var instances = M.Modal.init(elems, options);

            // Mobile Sidebar Navigation Init
            var sideBar = document.querySelectorAll('.sidenav');
            var options = {
                edge: "right"
            }
            var instances = M.Sidenav.init(sideBar, options);
        });
    </script>
</body>

</html>
